/* Global Properties*/
*{
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Spectral', serif;
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

body{
  overflow-x: hidden;
}

p {
  font-size:1.5em;
  line-height:1.35;
}

.colorspan-white{
  color:#ffffff;
}

.colorspan-green1{
  color: #20E34A;
}

.colorspan-green2{
  color: #06C906;
}

.colorspan-green3{
  color: #059b05;
}

.colorspan-blue1{
  color: #154360;
}

.colorspan-blue2{
  color: #216C9C;
}

.colorspan-blue3{
  color: #123b54;
}

.colorspan-greengradient{
  background: #20E34A;
  background: -webkit-linear-gradient(to left, #06C906 0%, #059b05 70%);
  background: -moz-linear-gradient(to left, #06C906 0%, #059b05 70%);
  background: linear-gradient(to left, #06C906 0%, #059b05 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.colorspan-bluegradient{
  background: #216C9C;
  background: -webkit-linear-gradient(to right, #216C9C 0%, #154360 100%);
  background: -moz-linear-gradient(to right, #216C9C 0%, #154360 100%);
  background: linear-gradient(to right, #216C9C 0%, #154360 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1200px){

}

#preloader {
  background: #ffffff url(/Home/Assets/preloading.gif) no-repeat center center;
  background-size: 15%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  opacity: 1; 
  transition: opacity 1s ease-in-out; 
  top: 0;
}
/* End of Global Properties */

/* Header */
header{
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 0;
  transition: 150ms ease-in-out;
}

header.scrolled {
  background-color: black;
}

.title {
  display: flex;
  margin-left: 50px;
  margin-right: 10px;
  align-items: center;
  padding: 10px;
  color: white;
}

.title h1{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #20E34A;
  font-weight: 700;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
  font-size: xx-large;
}

.navi {
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin-right: 100px;
  z-index: 100;
}
  
.navibg {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navi-a-container a {
  color: white;
  text-decoration: none;
  padding: 0.7em;
  margin: 10px;
  margin-left: 50px;
  border-radius: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: large;
}

.navi-a-container a:hover{
  padding: 0.7em;
  border-radius: 10px;
  background: #059b05;
  color:#ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 150ms ease-in-out;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu-utama {
  margin-left: 3rem;
  margin-top: 5px;
  display: none;
  position: absolute;
  width: 160px;
  z-index: 3;
  background-color: black;
  border-radius: 10px;
}

.dropdown-menu-utama a {
  font-size: 15px;
  text-align: center;
  margin: 5px;
  display: block;
  text-decoration: none;
}

.dropdown-menu-utama a:hover {
  color: white;
  border-radius: 5px;
}

.navi-dropdown{
  display: none;
}

.navi-a-container:hover .dropdown-menu-utama {
  display: block;
}

.navibg .navi-dropdown ul {
  display: none;
}

.navi-dropdown li{
  text-decoration: none;
  list-style: none;
  padding: 0.6rem;
  text-align: center;
}

.navibg .navi-dropdown ul.active {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #000000;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: -10rem;
}

@media screen and (max-width: 1300px) {
  .navi-a-container{
    display: none;
  }
  .navi-dropdown{
    display: block;
  }
  .navibg a{
    margin-left: 0;
    padding: 0px;
    margin: 0px;
    padding: 0.7em;
    border-radius: 10px;
  }
  .navibg a:hover{
    padding: 0.7em;
    border-radius: 10px;
    background: rgb(5, 155, 5);
    color:#ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: 150ms ease-in-out;
  }
  .navi-dropdown a{
    color: white;
  }
  #dropdown-menu a{
    text-decoration: none;
  }
  .title h1{
    font-size: large; 
  }
}
@media screen and (max-width: 400px) {
  .title {
    margin-left: 20px;
  }
  .title h1 {
    font-size: medium;
  }
  .navi {
    margin-right: 10px;
  }
  .navibg {
    justify-content: flex-end;
  }
}
/* end of Header */
  
/* Section 1: background */
.section1bg{
  margin-top: -6.7rem;
  width: 100vw;
  height: 30vw;
  display: block;
  position: relative;
  background: url('/_Page/SmartEnvironment/Assets/envibg.jpg') no-repeat center center;
  background-size: cover;
}

.section-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1-title h1{
  margin-top: 60%;
  color: white;
  font-size: xxx-large;
  text-shadow: 2px 2px 10px rgba(0,0,0,1);
}

@media screen and (max-width: 1200px) {
  .section1bg{
    height: 50vw;
  }
}
@media screen and (max-width: 768px) {
  .section1bg{
    height: 70vw;
  }
  .section1-title h1{
    margin-top: 80%;
    font-size: xx-large;
  }
}
@media screen and (max-width: 400px) {
  .section1-title h1{
    margin-top: 150px;
  }
}
/* End of Section 1: background */

/* Section 2: Main Website */
/* Pengertian */
.sectiontwo-smartenvironment-container{
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 7%;
}

.sectiontwo-smartenvironment-pengertian{
  padding-left: 5%;
}

.sectiontwo-smartenvironment-pengertian h1{
  text-align: justify;
  direction: ltr;
  background: #059b05;
  background: -webkit-linear-gradient(to right,#3b5c3b 0%, #059b05 70%);
  background: -moz-linear-gradient(to right,#3b5c3b 0%, #059b05 70%);
  background: linear-gradient(to right,#3b5c3b 0%, #059b05 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.2em;
}

.sectiontwo-smartenvironment-pengertian p{
  font-family: 'Spectral', serif;
  font-size: large;
  line-height: 1.3;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: black;
  text-align: justify;
  direction: ltr;
}

.sectiontwo-smartenvironment-pengertian-image{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.sectiontwo-smartenvironment-pengertian-image img{
  border-radius: 20px;
  width: 45rem;
  transition: 100ms ease-in-out;
}

@media screen and (max-width: 1170px) {
  .sectiontwo-smartenvironment-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sectiontwo-smartenvironment-pengertian{
    padding-left: 0%;
  }
  .sectiontwo-smartenvironment-pengertian h1{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .sectiontwo-smartenvironment-pengertian p{
    padding-left: 10%;
    padding-right: 10%;
  }
  .sectiontwo-smartenvironment-pengertian-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  .sectiontwo-smartenvironment-pengertian-image img{
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .sectiontwo-smartenvironment-pengertian-image img{
    border-radius: 0px;
    width: 100vw;
    height: auto;
    z-index: -1;
  }
  .sectiontwo-smartenvironment-pengertian h1{
    font-size: x-large;
    text-align: justify;
  }
}
@media screen and (max-width: 400px) {
  .sectiontwo-smartenvironment-container {
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .sectiontwo-smartenvironment-pengertian {
    padding-left: 0%;
    padding-right: 0%;
  }
  .sectiontwo-smartenvironment-pengertian h1 {
    font-size: medium;
    text-align: justify;
    padding-left: 0%;
    padding-right: 0%;
  }
  .sectiontwo-smartenvironment-pengertian p {
    font-size: small;
    padding-left: 0%;
    padding-right: 0%;
    text-align: justify;
  }
  .sectiontwo-smartenvironment-pengertian-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .sectiontwo-smartenvironment-pengertian-image img {
    border-radius: 16px;
    width: 100%;
    height: auto;
  }
}
/* end of Pengertian */

/* Tujuan */
.sectiontwo-smartenvironment-tujuan{
  display: flex;
  justify-content: center;
}

.sectiontwo-smartenvironment-tujuan-kiri{
  display: flex;
  margin-top:7%; 
  flex-direction: column;
  text-align: justify;  
  align-items: flex-end;
  max-width: 30%;
  padding-left: 2.5%;
  padding-right: 2.5%
}

.sectiontwo-smartenvironment-tujuan-kanan{
  display: flex;
  flex-direction: column;
  text-align: justify; 
  align-items: flex-start;
  max-width: 30%;
  margin-top: 7%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.sectiontwo-smartenvironment-tujuan-kanan h1{
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  margin-top: 0px;
  color: #3b5c3b;
  font-family: 'Spectral', serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: -3%;
}

.sectiontwo-smartenvironment-tujuan-kiri h1{
  color: #3b5c3b;
  font-family: 'Spectral', serif;
  text-align: right;
  font-size: 40px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: -3%;
}

.sectiontwo-smartenvironment-tujuan-kiri p{
  text-align: justify;
  direction: rtl;
  font-family: 'Spectral', serif;
  font-size: larger;
  line-height: 1.4;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: #3b5c3b;
}

.sectiontwo-smartenvironment-tujuan-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%
}

.sectiontwo-smartenvironment-tujuan-img img{
  align-self: center;
  justify-self: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 25rem;
  height: 35rem;
  transition: 100ms ease-in-out;
}

.efisiensi, .aman, .nyaman{
  display: flex;
  align-items: center;
  justify-content: end;
}

.efisiensi img, .aman img, .nyaman img{
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transition: 100ms ease-in-out;
}

.efisiensi img:hover, .aman img:hover, .nyaman img:hover{
  border-radius: 5%;
  transform: scale(1.2);
}

.efisiensi p, .aman p, .nyaman p{
  font-family: 'Spectral', serif;
  font-size: medium;
  line-height: 1.4;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  color: black;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1170px) {
  .sectiontwo-smartenvironment-tujuan{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sectiontwo-smartenvironment-tujuan-kiri{
    display: flex;
    flex-direction: column;
    text-align: justify;  
    align-items: center;
    justify-content: center;
    max-width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%
  }
  .sectiontwo-smartenvironment-tujuan-kiri h1{
    text-align: center;
  }
  .sectiontwo-smartenvironment-tujuan-kiri p{
    direction: ltr;
  }
  .sectiontwo-smartenvironment-tujuan-kanan{
    max-width: 80%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
  }
  .sectiontwo-smartenvironment-tujuan-kanan h1{
    text-align: center;
  }
  .sectiontwo-smartenvironment-tujuan-img{
    margin-top: 5%;
  }
  .sectiontwo-smartenvironment-tujuan-img img{
    width: auto;
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .sectiontwo-smartenvironment-tujuan-kanan{
    max-width: 80%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
  }
  .sectiontwo-smartenvironment-tujuan-img{
    margin-top: 5%;
  }
  .efisiensi, .aman, .nyaman{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  
  .efisiensi img, .aman img, .nyaman img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: 100ms ease-in-out;
  }
  
  .efisiensi img:hover, .aman img:hover, .nyaman img:hover{
    border-radius: 5%;
    transform: scale(1.2);
  }
  
  .efisiensi p, .aman p, .nyaman p{
    font-family: 'Spectral', serif;
    font-size: medium;
    line-height: 1.4;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .sectiontwo-smartenvironment-tujuan {
    flex-direction: column;
    align-items: center;
  }
  .sectiontwo-smartenvironment-tujuan-kiri,.sectiontwo-smartenvironment-tujuan-kanan {
    max-width: 80%;
    margin-top: 5%;
    align-items: center;
    text-align: center;
    padding: 0 2.5%;
  }
  .sectiontwo-smartenvironment-tujuan-kiri h1,.sectiontwo-smartenvironment-tujuan-kanan h1 {
    font-size: larger;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .sectiontwo-smartenvironment-tujuan-kiri p,.sectiontwo-smartenvironment-tujuan-kanan p {
    font-size: small;
    margin-bottom: 1rem;
  }
  .sectiontwo-smartenvironment-tujuan-img {
    margin-top: 5%;
  }
  .sectiontwo-smartenvironment-tujuan-img img {
    width: 50%;
    height: auto;
  }
  .efisiensi,.aman,.nyaman {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .efisiensi img,.aman img,.nyaman img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    transition: 100ms ease-in-out;
  }
  .efisiensi img:hover,.aman img:hover,.nyaman img:hover {
    border-radius: 5%;
    transform: scale(1.2);
  }
  .efisiensi p,.aman p,.nyaman p {
    font-size: small;
    text-align: justify;
    margin-left: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
/* end of Tujuan */

/* Contoh */
.sectiontwo-smartenvironment-contoh-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 8%;
  margin-bottom: 8%;
  background: url(/_Page/SmartEnvironment/Assets/contoh/contoh-bg2.png);
  padding: 3%;
}

.sectiontwo-smartenvironment-contoh-container h1{
 direction: ltr;
 text-align: left;
 color: #efefef;  
  font-size: 35px;
  font-weight: 600;
  margin-top: 0px;  
  margin-left: 2%;
  margin-right: 2%;
} 

.sectiontwo-smartenvironment-contoh-boxcontainer, .sectiontwo-smartenvironment-contoh-container-kiri-atas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectiontwo-smartenvironment-contoh-container-kiri, .sectiontwo-smartenvironment-contoh-container-kiri-bawah, .sectiontwo-smartenvironment-contoh-container-kanan{
  display: flex;
  flex-direction: column;
}

.sectiontwo-smartenvironment-contoh {
  position: relative;
  overflow: hidden;
  width: 15rem;
  height: auto;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -webkit-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -moz-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
}

.sectiontwo-smartenvironment-contoh .sectiontwo-smartenvironment-contoh-overlay {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 20px;
}

.sectiontwo-smartenvironment-contoh:hover .sectiontwo-smartenvironment-contoh-overlay{
  opacity: 1;
  filter:brightness(0.6);
}

.sectiontwo-smartenvironment-contoh:hover .sectiontwo-smartenvironment-contoh-text{
  top: 50%;
  left: 50%;
  border-radius: 20px;
  opacity: 1;
}

.sectiontwo-smartenvironment-contoh-2 {
  position: relative;
  overflow: hidden;
  width: 29rem;
  height: auto;
  margin: 2%;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -webkit-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -moz-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
}

.sectiontwo-smartenvironment-contoh-2 .sectiontwo-smartenvironment-contoh-overlay {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 20px;
}

.sectiontwo-smartenvironment-contoh-2:hover .sectiontwo-smartenvironment-contoh-overlay{
  opacity: 1;
  filter: brightness(0.6);
}

.sectiontwo-smartenvironment-contoh-2:hover .sectiontwo-smartenvironment-contoh-text{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.sectiontwo-smartenvironment-contoh-3 {
  position: relative;
  overflow: hidden;
  width: 20rem;
  height: auto;
  margin: 6%;
  border-radius: 20px;
  box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -webkit-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
  -moz-box-shadow: 0px 0px 27px 3px rgba(59,92,59,0.71);
}

.sectiontwo-smartenvironment-contoh-3 .sectiontwo-smartenvironment-contoh-overlay {
  background: rgba(0, 0, 0, 0.293);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 20px;
}

.sectiontwo-smartenvironment-contoh-3:hover .sectiontwo-smartenvironment-contoh-overlay{
  opacity: 1;
  filter: brightness(0.6);
}

.sectiontwo-smartenvironment-contoh-3:hover .sectiontwo-smartenvironment-contoh-text{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.sectiontwo-smartenvironment-contoh-image{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.sectiontwo-smartenvironment-contoh-text {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s;
}

.sectiontwo-smartenvironment-contoh-text h3{
  font-family: 'Cantarell', sans-serif;
  color:#06C906;
  font-weight: 700;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  margin: 2%;
}

.sectiontwo-smartenvironment-contoh-text p{
  font-family: 'Oxygen', sans-serif;
  color:white;
  font-size: medium;
  padding: 5%;
  text-align: justify;
  font-weight: 500;
}

.fadeIn-top{
  top: 0%;
}

@media screen and (max-width: 1300px) {
  .sectiontwo-smartenvironment-contoh-container{
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 8%;
    background: url(/_Page/SmartEnvironment/Assets/contoh/contoh-bg2.png);
    padding: 2%;
  }
  .sectiontwo-smartenvironment-contoh-container h1{
   direction: ltr;
   text-align: center;
  } 
}

@media screen and (max-width: 800px) {
  .sectiontwo-smartenvironment-contoh-boxcontainer{
    flex-direction: column;
  }
  .sectiontwo-smartenvironment-contoh-container{
    margin-bottom: 20%;
  }
}
@media screen and (max-width: 500px) {
  .sectiontwo-smartenvironment-contoh-container {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 2%;
  }
  .sectiontwo-smartenvironment-contoh-container h1 {
    font-size: 25px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sectiontwo-smartenvironment-contoh-boxcontainer {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sectiontwo-smartenvironment-contoh {
    width: 70%;
    margin: 5% 0;
  }
  .sectiontwo-smartenvironment-contoh-container-kiri-atas{
    flex-direction: column;
  }
  .sectiontwo-smartenvironment-contoh-image {
    border-radius: 15px;
  }
  .sectiontwo-smartenvironment-contoh-2{
    width: 100%;
  }
  .sectiontwo-smartenvironment-contoh-3{
    width: 70%;
    align-self: center;
  }
  .sectiontwo-smartenvironment-contoh-text h3 {
    font-size: 18px;
    margin: 5% 2%;
  }
  .sectiontwo-smartenvironment-contoh-text p {
    font-size: 14px;
    padding: 5%;
  }
}
/* End of Contoh */

/* Jurnal */
.jurnal {
  display: flex;
  padding: 1rem;
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 5%;
}

.jurnal-image {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  margin-left: 5%;
}

.jurnal img {
  max-width: 30rem;
  width: 100%;
  height: auto;
  border-radius: 20px;
} 

.jurnal-text{
  margin-top: 3%;
}

.jurnal-text h2 {
  text-align: left;
  direction: ltr;
  font-family: 'spectral', Sans-serif;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2em;
  color: #3b5c3b;
}

.jurnal-text p {
  color: black;
  font-family: 'spectral', Sans-serif;
  font-size: 23px;
  line-height: 1.6em;
  max-width: 75rem;
}

.button-box-jurnal {
  display: inline-block;
}

.button-jurnal {
  display: inline-block;
  padding: 3px 7px;
  background-color:  #3b5c3b;
  color: #ffffff;
  border: 2px solid #3b5c3b;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.button-box-jurnal a{
  text-decoration: none;
  font-size:20px  ;
}

.button-jurnal:hover {
  background-color: #ffffff;
  color:  #3b5c3b;
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .jurnal-text h2 {
    font-size: 24px;
  }
  .jurnal-text p {
    font-size: 18px;
  }
  .button-box2 {
    margin-top: 0.5rem;
  }
  .jurnal-image {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .jurnal-text h2 {
    font-size: 22px;
  }
  .jurnal-text p {
    font-size: 16px;
  }
  .button-jurnal {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .jurnal{
    margin-left: 10%;
    margin-right: 10%;
  }
  .jurnal-text{
    align-items: center;
    justify-content: center;
    text-align: justify;
  }
  .jurnal-text h2 {
    font-size: larger;
    text-align: center;
  }
  .jurnal-text p {
    font-size: 12px;
  }
  .jurnal-image{
    display: none;
  }
  .button-box-jurnal a{
    font-size: 14px;
    margin-top: 5%;
  }
}
/* end of Jurnal */

/* Quiz */
.sectionSoal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.judulSoal {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
  margin-top: -5rem;
}

.containerSoal{
  background: rgba(255, 255, 255, 0.237);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 2px solid #3b5c3b;
  padding: 5%;
}

.judulSoal h2 {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #123b54;
  letter-spacing: 5px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  font-weight: 900;
}

.judulSoal h1 {
  text-align: left;
  color: #154360;
  font-size: 4rem;
  font-weight: 600;
}

.containerSoal { 
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

#question{
  font-size: 20px;
  max-width: 35rem;
}

#options {
  margin-top: 50px;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

#options button {
  font-family: 'Spectral', serif;
  font-size: 16px;
  margin: 2%;
  padding: 20px 50px;
  border: none;
  border-radius: 4px;
  background-color: #059b05;
  cursor: pointer;
  color: white;
  transition: 150ms ease-in-out;
  text-align: center;
  border-radius: 16px;
}

#options button:hover{
  transition: 150ms ease-in-out;
  color:#3b5c3b;
  background-color: #efefef;
  border: 2px solid #3b5c3b;
} 

#nextBtn{
  margin-top: 5%;
  padding: 15px 15px;
  background-color:#123b54;
  color: #efefef;
  border: none;
  font-family: 'Spectral', serif;
  border-radius: 12px;
  transition: 150ms ease-in-out;
}

#nextBtn:hover{
  transition: 150ms ease-in-out;
  transform: scale(1.03);
  color:#123b54;
  background-color: #efefef;
  border: 2px solid #123b54;
}

#homePage{
  margin-bottom: 1.5rem;
  padding: 5%;
  background-color: #123b54;
  border-radius: 12px;
  border: none;
  color: #efefef;
  font-family: 'Spectral', serif;
}
#homePage:hover{
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
 .sectionSoal{
  flex-direction: column;
 }
.containerSoal{
  padding: 2.5%;
}
.judulSoal {
  max-width: 100vw;
}
.judulSoal h2 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  color: #123b54;
  letter-spacing: 5px;
  margin-bottom: 0px;
  font-size: 1rem;
  font-weight: 900;
}
.judulSoal h1 {
  text-align: center;
  color: #154360;
  font-size: 3rem;
  margin-top: 0rem;
}
.containerSoal { 
  padding: 10px;
}
}
@media screen and (max-width: 768px) {
  .sectionSoal{
    margin-top: 20%;
  }
}
@media screen and (max-width: 400px) {
  .judulSoal h1 {
    font-size: 1.5rem;
  }
  .judulSoal h2 {
    font-size: 0.5rem;
  }
  #question {
    font-size: 13px;
  }
  #options button {
    font-size: 14px;
    padding: 10px 35px;
  }
  #nextBtn, #homePage {
    padding: 12px 12px;
    font-size: 12px;
  }
  .containerSoal { 
    border-radius: 0px;
  }
}
/* end of Quiz */

/* Footer */
.footer-container{
  margin-top: 2rem;
  background-color: #06C906;
  margin-bottom: 0;
}
/* up */
.footerup{
  background-color: #cfcfcf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerup div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5%;
  margin: 1%;
}

.footerup div img{
  width: 5rem;
  height: auto;
  filter: invert(20%) sepia(8%) saturate(6588%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.footerup div p{
  font-family: 'Cantarell', sans-serif;
  margin-left: 1rem;
  color: #123b54;
}
/* up ended */
/* down */
.footerdown{
  display: flex;
  flex-direction: row;
  background-color:#123b54;
  padding: 1% 1%
}
/* logo */
.logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img{
  height: auto;
  width: 20rem;
}
/* adress */
.contactnabout{
  color: white;
  margin-left: 5%;
  max-width: 25%
}

.contactnabout p{
  color: #eaeaea;
  font-family: 'Cantarell', sans-serif;
  font-size: medium;
}

.contactnabout div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;
  max-width: 80%;
}

.footerdown .contactnabout a:hover{
  transform: scale(1.1);
}

.button-box-footer {
  display: inline-block;
  text-align: center;
  margin-top: 2.5rem;
}

.button-footer {
  display: inline-block;
  padding: 10px 10px;
  background-color: #059b05;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 150ms, color 150ms, transform 150ms;
}

.button-box-footer a{
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.button-footer:hover {
  background-color: #ffffff;
  color: #059b05;
  transform: scale(1.1);
  cursor: pointer;
}
/* adress ended */
/* edu */
.edu{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-left: 5%;
}

.edu h1{
  font-family: 'Spectral', serif;
  color: white;
  font-size: x-large;
  align-self: center;
}

.edu div{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.edu div div{
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 150ms, color 150ms, transform 150ms;
}

.edu div div a{
  color: white;
  text-decoration: none;
}

.edu div div:hover{
  background-color: #059b05;
  transform: scale(1.1);
  cursor: pointer;
}
/* edu ended */
/* sosmed */
.sosmed{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

.sosmed div{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.sosmed h1{
  font-family: 'Spectral', serif;
  color: white;
  font-size: x-large;
  align-self: center;
  text-align: center;
}

.sosmed div div{
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 0.5rem;
  padding: 1rem;
  display: inline-block;
  border-radius: 5px;
  transition: background-color 150ms, color 150ms, transform 150ms;
}

.sosmed div div a{
  color: white;
  text-decoration: none;
}

.sosmed div div:hover{
  background-color: #059b05;
  transform: scale(1.1);
  cursor: pointer;
}
/* sosmed ended*/
/* footerdown ended*/
/* footercopyright */
.footercopyright{
  padding: 1%;
  background-color:#216C9C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: small;
  font-family: 'Cantarell', sans-serif;
}

.rightreserved{
  margin-left: 0.5rem;
}
/* footercopyright ended */
@media screen and (max-width: 1300px){
  .logo img{
    width: 15rem;
  }
  .contactnabout h1{
    text-align: center;
  }
  .contactnabout p{
    text-align: justify;
  }
  .contactnabout div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1%;
  }
  .contactnabout div{
    max-width: 100%;
  }
  .edu{
    margin-left: 1%;
  }
  .edu div div{
    width: 70%;
  }
}
@media screen and (max-width: 1000px){
  .footerdown{
    flex-direction: column;
  }
  .logo, .contactnabout, .edu, .sosmed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    align-self: center;
  }
  .edu div div{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    padding: 1rem;
  }
  .sosmed div div{
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    padding: 1rem;
  }
  .footercopyright{
    flex-direction: column;
  }
  .footercopyright .rightreserved{
    margin-top: -1rem;
  }
  .contactnabout{
    color: white;
    margin-left: 5%;
    max-width: 50%;
  }
  .footerup{
    display: none;
  }
  .footercopyright{
    padding: 1%;
  }
}
@media screen and (max-width: 400px) {
  .logo img {
    width: 12rem;
  }
  .contactnabout {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .contactnabout div {
    flex-direction: column;
    align-items: center;
    margin: 3% 0;
  }
  .edu,
  .sosmed {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .edu div div,
  .sosmed div div {
    padding: 1.5rem;
  }
  .footerdown {
    padding: 2% 0;
  }
  .footercopyright {
    padding: 1% 0;
  }
  .footercopyright p{
    font-size: 16px;
  }
}
/* End of Footer */

